*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: blue;
}


header{
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

header::before{
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  border-bottom: solid 8px black;
  top: 98%
}

main{
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.left{
  padding-left: 1rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right{
  padding-right: 1rem;
  padding-left: 1rem;
  width: 50rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ELEMENTS STYLE */
h1{
  font-size: 3.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;

}
@media screen and (max-width: 600px){
  h1{
    top: 50%;
    font-size: 3rem;
  }
  .btn{
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
.number{
  font-size: 6rem;
  width: 12rem;
  padding: 1rem 0rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  background:black;
  color: white;
}

.between{
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again{
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.input-btn{
  background: none;
  color: white;
  border: 4px solid #eee;
  font-size: 2rem;
  padding: 2rem;
  width: 15rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  outline: none;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.guessing{
  position: absolute;
  margin-bottom: 8rem;
  top: 25%;
}

.label-score{
  margin-bottom: 2rem;
}